@font-face {
  font-family: "iconfont"; /* Project id 1890065 */
  src: url('iconfont.woff2?t=1634651234630') format('woff2'),
       url('iconfont.woff?t=1634651234630') format('woff'),
       url('iconfont.ttf?t=1634651234630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yangshengqi:before {
  content: "\e601";
}

.icon-gear:before {
  font-size: 50px;
  content: "\e6bd";
}

.icon-yingyongzhongxin:before {
  content: "\e629";
}

.icon-guanyuwomen:before {
  content: "\e69a";
}

.icon-lishi1:before {
  content: "\e6c8";
}

.icon-yingyongzhongxin1:before {
  content: "\efaa";
}

.icon-jingyin:before {
  content: "\e794";
}

.icon-tixing:before {
  content: "\e600";
}

.icon-erji:before {
  content: "\e693";
}

.icon-zhuanjie:before {
  content: "\e668";
}

.icon-lahei:before {
  content: "\e603";
}

.icon-jieshu:before {
  content: "\e676";
}

.icon-jiahao:before {
  content: "\e6c3";
}

.icon-bianji:before {
  content: "\e7a1";
}

.icon-arrow_left_fat:before {
  content: "\e62c";
}

.icon-dingdan-:before {
  content: "\e637";
}

.icon-jurassic_line:before {
  content: "\e68d";
}

.icon-icon_down-arrow:before {
  content: "\e617";
}

.icon-dian:before {
  content: "\e608";
}

.icon-diannao:before {
  content: "\e6b7";
}

.icon-diannao1:before {
  content: "\e86a";
}

.icon-ren:before {
  content: "\e605";
}

.icon-xiaoxi:before {
  content: "\e7a8";
}

.icon-tuichu:before {
  content: "\e60b";
}

.icon-i-home:before {
  content: "\e60a";
}

.icon-31:before {
  content: "\e621";
}

.icon-lingdang:before {
  content: "\e6f1";
}

.icon-tongji:before {
  content: "\e631";
}

.icon-huabanfuben:before {
  content: "\e653";
}

.icon-kehu:before {
  content: "\e667";
}

.icon-shezhi:before {
  content: "\e611";
}

.icon-kehu1:before {
  content: "\e622";
}

.icon-lishi:before {
  content: "\e75f";
}

.icon-customer2:before {
  content: "\e604";
}

