/* 背景图片 */
#login_back_img{
  /* background-image:url('~@/assets/image/login.png'); */
	background-color: rgba(0,0,0,0.8);
  width:105%;
  height:110%;
  position:fixed;
  margin-left: -10px;
  margin-top: -10px;
  background-size:100% 100%;
  z-index: -5;
}
/* 粒子背景特效 */
#particles-js {
    width: 99%;
    height: calc(100% - 100px);
    position: absolute;
}
/* 中央屏幕 */
#screen_center{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: calc(50% - 400px);
	top: calc(50% - 200px);
	width: 800px;
	height: 400px;
	z-index:2;
	opacity: 0;
	background-image: url(../gif_image/Frame_08.gif);
	background-size: 100% 100%;
	box-shadow: 0 0 40px 0px rgba(130, 255, 255, 0.8);
	animation: scale-in-hor-center 2s forwards;
	animation-delay: 7s;
}
/* 中央屏幕动画 */
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
/* 登录和注册按钮 */
#screen_center button{
	color: #ffff00;
	font-size: 18px;
	font-weight: bold;
	
	margin-left: 10px;
	margin-right: 10px;
	background-color: transparent;
	width: 120px;
	height: 50px;
	border-top: 6px ridge #cbf9ff;
	border-bottom: 6px ridge #cbf9ff;
	border-left: transparent;
	border-right: transparent;
	text-shadow: 0 0 10px #ffff00,0 0 20px #ffff00,
	0 0 30px #ffff00,0 0 40px #ffff00;
	transition: 1s;
}
#screen_center button:hover{
	border-top: transparent;
	border-bottom: transparent;
	border-left: 6px ridge #cbf9ff;
	border-right: 6px ridge #cbf9ff;
	color: #ffffff;
	box-shadow: 0 0 40px 0px rgba(255, 255, 255, 0.8);
}
/* 中央屏幕登录界面 */
#screen_center_content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 80%;
	background-color: rgba(208, 251, 255, 0.6);
	border: 5px groove #c6c1ff;
	border-radius: 10px;
	box-shadow: 0 0 40px 0px rgba(130, 255, 255, 0.8);	
}
/* 登录界面输入框 */
#screen_center_content input{
	font-size: 15px;
	margin-top: 30px;
	width: 200px;
	height: 40px;
	color: #ef5154;
	background-color: #a4fff5;
	border-top: transparent;
	border-bottom: 4px ridge #83a0ff;
	border-left: transparent;
	border-right: transparent;
	box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.5);	
}
#screen_center_content input:hover{
	border-top: transparent;
	border-bottom: transparent;
	border-left: 6px dashed #6262ff;
	border-right: 6px dashed #6262ff;
	box-shadow: 0 0 40px 0px rgba(30, 30, 255, 0.8);
}
/* 登录界面标题 */
#screen_center_content p{
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	animation: screen_center_content_p_animation 5s linear both infinite;
}
@keyframes screen_center_content_p_animation {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}
/* 右下角屏幕 */
#screen_right_bottom{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 300px;
    height: 200px;
	border-radius: 10px;
	border: 10px ridge #92fffc;
	box-shadow: 0 0 20px 0px rgba(130, 255, 255, 0.8);
	background-image: url(../gif_image/Circle_18.gif);
	background-size: 100% 100%;
    animation: screen_right_bottom_animation 2s forwards, screen_right_bottom_animation_after 5s;
	z-index: -2;
}
/* 屏幕移动动画 */
@keyframes screen_right_bottom_animation{
    100%{
		left:65%;
		top: 60%;
    }
}
/* 屏幕旋转后动画 */
@keyframes screen_right_bottom_animation_after {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
            transform: rotate3d(-1, 1, 0, 0deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 180deg);
            transform: rotate3d(-1, 1, 0, 180deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 360deg);
            transform: rotate3d(-1, 1, 0, 360deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

/* 左下角屏幕 */
#screen_left_bottom{
    position: absolute;
    right: 30%;
    top: 20%;
    width: 300px;
    height: 200px;
    background: url(../image/screen_bg.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
    animation: screen_left_bottom_animation 2s forwards, screen_left_bottom_animation_after 5s;
	box-shadow: inset 0 0 24px 0px rgba(20, 252, 255, 0.5),
	0 -20px 20px -5px rgba(139, 255, 162, 0.7), 
	0 20px 20px -5px rgba(255, 135, 151, 0.7);
	z-index: -2;
}
/* 左下角屏幕移动动画 */
@keyframes screen_left_bottom_animation{
    100%{
      right: 65%;
      top: 60%;
    }
}
/* 左下角屏幕后动画 */
@keyframes screen_left_bottom_animation_after{
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
            transform: rotate3d(1, 1, 0, -180deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
/* 太极图 */
#taiChi{
	position: absolute;
	left: 75px;
	top:25px;
	z-index: -1;
}
#taiChi img{
	position: relative;
	top: -100px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
	
}
#taiChi_round{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	background-color: #ffffff;
	animation: taiChi_round_ping_animation 3s infinite;
}
/* 脉冲动画 */
@keyframes taiChi_round_ping_animation {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
	box-shadow: 0px -10px 0px 0px #6f85ff,
	-10px 0px 0px 0px #ee62ee,   
    10px 0px 0px 0px #a3ee9b,   
    0px 10px 0px 0px #eeee92;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
	box-shadow: 0px -15px 0px 0px #388f55,
	-15px 0px 0px 0px #6163c6,   
	15px 0px 0px 0px #ba9658,   
	0px 15px 0px 0px #aa1739;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
	box-shadow: 0px -20px 0px 0px #388f55,
	-20px 0px 0px 0px #6163c6,   
	20px 0px 0px 0px #ba9658,   
	0px 20px 0px 0px #aa1739;
  }
}
/* 右下角屏幕红门 */
#door{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* 左门 */
#door_left{
	height: 200px;
	width: 140px;
	background: #ab4a38;
	box-shadow: 12px -12px 20px -6px rgba(137, 244, 255, 0.8),
	inset 16px 0 20px 2px rgba(0, 0, 0, 0.5),
	1px -1px #00fbff,
	2px -2px #c7fffb, 
	3px -3px #47d0cc, 
	4px -4px #b0ece3, 
	5px -5px #78c5bf, 
	6px -6px #97d1cd, 
	7px -7px #719695, 
	8px -8px #698484;
	transform: translateX(-8px) translateY(8px);
	animation: door_left_animation 1s cubic-bezier(0.68,-0.55,0.27,0.55) both;
	animation-delay: 5s;
}
/* 左门动画 */
@keyframes door_left_animation {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}
/* 右门 */
#door_right{
	height: 200px;
	width: 140px;
	background: #ab4a38;
	box-shadow: -12px -12px 20px -6px rgba(137, 244, 255, 0.8),
	inset -16px 0 14px 2px rgba(0, 0, 0, 0.5),
	-1px -1px #00fbff,
	-2px -2px #c7fffb, 
	-3px -3px #47d0cc, 
	-4px -4px #b0ece3, 
	-5px -5px #78c5bf, 
	-6px -6px #97d1cd, 
	-7px -7px #719695, 
	-8px -8px #698484;
	transform: translateX(8px) translateY(8px);
	animation: door_right_animation 1s cubic-bezier(0.68,-0.55,0.27,0.55) both;
	animation-delay: 6s;
}
/* 右门动画 */
@keyframes door_right_animation{
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
/* 虎头锁 */
#door_left img{
	margin-right: -50px;
	margin-top: 80px;
	width: 30px;
	height: 30px;
}
#door_right img{
	margin-left: -50px;
	margin-top: 80px;
	width: 30px;
	height: 30px;
}
/* 荧光楼梯 */
#stair{
	margin-left: 50px;
	width: 200px;
	height: 30px;
	background: linear-gradient(to bottom,
    #ced1d8 0%,#ced1d8 40%,  #00ffee 40%,#00fbff 42%,
    #ced1d8 60%,#ced1d8 90%,  #00ffee 98%,#00ffee 100%
    );
	box-shadow: 0 12px 20px -2px rgba(123, 255, 247, 1),
	inset 0 -6px 4px -6px rgba(183, 255, 249, 1), 
	inset 0 6px 14px -6px rgba(255, 55, 81, 1.0);
}

/* 右上角屏幕*/
#screen_right_top{
    position: absolute;
    left: 30%;
    bottom: 28%;
    width: 300px;
    height: 200px;
	background-image: url(../gif_image/Element_09.gif);
	background-size: 100% 100%;
    animation: screen_right_top_animation 2s forwards,
	screen_right_top_animation_after 5s;
    z-index: -2;
	border: 5px solid;
	border-image: linear-gradient(to left,#ff0202, #2feedf) 20 20;
	box-shadow: -30px 0 20px -10px rgba(255, 69, 69, 0.7), 30px 0 20px -10px rgba(156, 255, 234, 0.7);
}
#screen_right_top::after{
	content: "";
	width: 200px;
	height: 80px;
	background-image: url(../gif_image/Element_08.gif);
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: -70px;
	z-index: 1;
	box-shadow: 0 0 20px 15px #fdffff;
	animation:top_gif_animation 2s linear infinite alternate both ;
}
#screen_right_top img{
	width: 200px;
	height: 80px;
}
/* 右上角屏幕动画 */
@keyframes screen_right_top_animation{
    100%{
      left: 65%;
      bottom: 60%;
    }
}
@keyframes screen_right_top_animation_after {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
            transform: rotate3d(1, 1, 0, 360deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes top_gif_animation {
  0% {
	box-shadow: 0 0 20px 5px #2c10ff;
	left: 0;
	opacity: 0;
	}
  100%{
	left: 100px;
	opacity: 1;
	box-shadow: 0 0 20px 15px #fffb72;
  }
}

/* 左上角屏幕 */
#screen_left_top{
    position: absolute;
    right: 30%;
    bottom: 28%;
    width: 300px;
    height: 200px;
    background-image: url(../gif_image/Element_06.gif);
	background-size: 100% 100%;
    border-radius: 10px;
    animation: screen_left_top_animation 2s forwards, screen_left_top_animation_after 5s,screen_left_top_animation_border 5s infinite;
    z-index: -2;
	border: 10px double #ffffff;
}
/*左上角动画 */
@keyframes screen_left_top_animation{
    100%{
      right: 65%;
      bottom: 60%;
    }
}
@keyframes screen_left_top_animation_after {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
            transform: rotate3d(-1, 1, 0, 0deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, -180deg);
            transform: rotate3d(-1, 1, 0, -180deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
            transform: rotate3d(-1, 1, 0, -360deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@keyframes screen_left_top_animation_border{
	0%{
		box-shadow: 0 -40px 20px -10px rgba(250, 255, 149, 0.7);
		border: 10px double #ffeb86;
	}
	25%{
		box-shadow: 40px 0 20px -10px rgba(133, 254, 124, 0.7);
		border: 10px double #a4ff8b;
	}
	50%{
		 box-shadow: 0 40px 20px -10px rgba(151, 238, 255, 0.7);
		border: 10px double #8cf4ff;
	}
	75%{
		box-shadow: -40px 0 20px -10px rgba(255, 69, 69, 0.7);
		border: 10px double #fe4444;
	}
	100%{
		box-shadow: 0 0 40px 0px rgba(253, 196, 251, 0.7);
		border: 10px double #f6c0ff;
	}
}
