$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-dialog{
	z-index: 99999;
}
.el-dialog__header{
	border: 0.2rem solid rgba(7, 235, 255, 1.0);
	background-color: #5454ff;
	box-shadow: 0 0 40px 0px rgba(2, 255, 239, 0.8);
}
.el-dialog__headerbtn{
	background-color: #FFFFFF;
}
.el-dialog__title{
	color: #FFFFFF;
}
.el-dialog--center .el-dialog__body{
	padding: 0;
}
